.Time {
    width: 200px;
    height: 100px;
    border: 5px solid Black;
    text-align: center;
    padding: 10px 0;
    margin: 20px;
    /*outline-style: solid;
    outline-width: thick;*/
}